/sublime-text-3/Backup
/sublime-text-3/Local
/sublime-text-3/Index
/sublime-text-3/Cache
/sublime-text-3/Packages/User/Package Control.cache
/sublime-text-3/Settings
/sublime-text-3/Packages/User/Package Control.last-run