[user]
  email = vladstudiorus@gmail.com
  name = HaCk3D
  signingkey = 3593C7FF706F0942

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[core]
  editor = nvim

[commit]
  gpgsign = true

[init]
  defaultBranch = master

[pull]
  rebase = true

[alias]
  lg = "log --date=format:%c --pretty=format:'%C(blue)%h%C(reset) - %C(green)%ad%C(reset) %s %C(bold blue)<%an>%C(reset)' --abbrev-commit"
