[Unit]
Description=Switch keyboard layouts according to focused window

[Service]
Type=simple
Restart=always
RestartSec=5

Environment=DISPLAY=:0
ExecStart=python /home/hacked/dotfiles/layout.py

[Install]
WantedBy=default.target
